body {
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: rgba(65, 102, 23, 0.719);
}
.formulario {
  margin: 7%;
  border: 3px solid black;
  width: 30rem;
  text-decoration: none;
  background-color: rgba(138, 165, 42, 0.562);
}
.formulario ul {
    list-style: none;
    padding: 10%;
}
.formulario p {
  margin-bottom: 0%;
}
